.product {
  overflow: hidden;
}
.product-image {
  transition: all 0.25s ease;
}
.product-image:hover {
  transform: scale(1.17);
}
.product a {
  color: var(--primary);
  transition: all 0.2s ease;
}

.product a:hover {
  text-decoration: none;
  color: var(--dark);
}
