.product {
  overflow: hidden;
}
.product-image {
  transition: all 0.25s ease;
}
.product-image:hover {
  transform: scale(1.17);
}
.product a {
  color: var(--primary);
  transition: all 0.2s ease;
}

.product a:hover {
  text-decoration: none;
  color: var(--dark);
}

/* braintree hosted fields */
form#payment .field {
  font-size: 1rem;
  color: #666;
  width: 300px;
  height: 1.3rem;
  margin-bottom: 10px;
  padding: 6px 12px;
  border: 0;
  background: #efefef;
  color: #666;
  border-radius: 4px;
}
