{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-lg-3 d-none d-md-block">
            {% include 'shop/product/_categories.html' %}
        </div>

        <div class="col-md-8 col-lg-9">
            <div class="row d-md-none px-2 pt-2 pb-3">
                {% include 'shop/product/_browse_categories.html' %}
            </div>
            <div class="row">
                <h2 class="ml-1">
                {% if category %}{{ category.name }}{% else %}All Products{% endif %}
                </h2>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 p-2">
                        <div class="card rounded-lg bg-light shadow-sm border product">
                            <img class="img-fluid product-image" style="height: 190px; object-fit: contain;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="card-img-top" alt="{{ product.name }} image">
                            <div class="card-body">
                                <a href="{{product.get_absolute_url}}">
                                <h5 class="card-title">{{ product.name }}</h5></a>
                                <p class="card-text">${{product.price}}</p>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}