{% extends 'shop/base.html' %}

{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-lg-3 d-none d-md-block">
            <div class="border border-secondary py-4 px-3">
                <h5 class="mb-4" >Categories</h5>
                <ul class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between {% if not category %}active bg-info{% endif %}" href="{% url 'shop:product_list' %}">All

                    {% if category.slug != c.slug %}
                            <span class="badge badge-warning small">{{ total_products }}</span>
                        {% endif %}
                    </a>
                    {% for c in categories %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between {% if category.slug == c.slug %}active bg-info{% endif %}" href="{{ c.get_absolute_url }}">
                        {{ c.name }}

                        {% if category.slug != c.slug %}
                            <span class="badge badge-warning small">{{ c.products.count }}</span>
                        {% endif %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-md-8 col-lg-9">
            <div class="row d-md-none mb-3">
                <div class="accordion" id="accordionExample">
                    <div>
                        <div id="headingOne">
                            <button class="btn btn-info btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Browse Categories <i class="fa fa-arrow-circle-down"></i>
                            </button>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="btn-group p-2 d-flex flex-wrap" >
                                <a class="btn btn-secondary m-1 {% if not category %}btn-info{% endif %}" href="{% url 'shop:product_list' %}">All</a>
                                {% for c in categories %}
                                    <a class="btn btn-secondary m-1 {% if category.slug == c.slug %}btn-info{% endif %}" href="{{ c.get_absolute_url }}">
                                    {{ c.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="row">
                <h2 class="ml-1">
                {% if category %}{{ category.name }}{% else %}All Products{% endif %}
                </h2>
            </div>
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-lg-4 p-1">
                        <div class="card">
                            <img class="img-fluid" style="height: 190px; object-fit: contain;" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="{{product.get_absolute_url}}">
                                <h5 class="card-title text-info">{{ product.name }}</h5></a>
                                <p class="card-text">${{product.price}}</p>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}