<nav class="navbar navbar-expand-lg navbar-light fixed-top mb-5 bg-info">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:product_list' %}">OnlineShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'shop:product_list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-shopping-cart mr-1" style="font-size: 1.3rem;">
                            <span class="badge badge-secondary badge-pill" style="font-size: 0.7rem;">0</span>
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>