<nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-5 bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'shop:product_list' %}">OnlineShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if request.path != '/cart/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'shop:product_list' %}">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/cart/' %}active{% endif %}" >
                    <a href="{% url 'cart:cart_detail' %}" class="nav-link">
                        <i class="fa fa-shopping-cart mr-1" style="font-size: 1.3rem;">
                            {% with total_items=cart|length  %}
                                <span class="badge badge-danger badge-pill" style="font-size: 0.7rem;">
                                    {{ total_items }}
                                </span>

                                {% if total_items > 0 %}
                                    <span class="badge badge-light" style="font-size: 0.9rem;">
                                    ${{cart.get_total_price}}
                                </span>
                                {% endif %}
                            {% endwith %}
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
